[tool.poetry]
name = "hopscotch"
version = "0.2.1"
description = "Type-oriented registry with dependency injection."
authors = ["Paul Everitt <pauleveritt@me.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pauleveritt/hopscotch"
repository = "https://github.com/pauleveritt/hopscotch"
documentation = "https://hopscotch.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/pauleveritt/hopscotch/releases"

[tool.poetry.dependencies]
python = "^3.9.1"
venusian = "^3.0.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
nox = "^2022.1.7"
coverage = {extras = ["toml"], version = "^6.3", allow-prereleases = true}
safety = "^1.10.3"
mypy = "^0.940"
xdoctest = {extras = ["colors"], version = "^0.15.10"}
sphinx = "^4.4.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.17.0"
flake8 = "^4.0.1"
black = "^22.1"
flake8-bandit = "^3.0.0"
flake8-bugbear = "^22.1.11"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.5"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^2.7.1"
pre-commit-hooks = "^4.0.1"
Pygments = "^2.11.2"
nox-poetry = "^0.9.0"
furo = "^2022.3.4"
myst-parser = "^0.17.0"
sybil = "^3.0.1"

[tool.coverage.run]
branch = true
source_pkgs = ["hopscotch"]

[tool.coverage.report]
show_missing = true
fail_under = 90

[tool.pytest.ini_options]
addopts = "-p no:doctest"
testpaths = ["tests", "examples", "docs"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
